<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="easycommute.EaCeWithMetro">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="easycommute.EaCeWithMetro.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="easycommute.EaCeWithMetro.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:name=".EasyCommuteApplication"
        android:allowBackup="true"
        android:icon="@mipmap/rsz_32logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".activities.PaymentsActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.QuickRegistrationActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />


        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_gPctIJOwWzSCzM"
            />           <!--android:value=rzp_test_gPctIJOwWzSCzM"   rzp_live_SwLM6nUtDjrIJl	"-->

        <activity
            android:name=".activities.SplashActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".utils.HttpService"
            android:exported="false" />

        <!-- SMS Receiver -->

        <activity
            android:name=".activities.HomeActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


    </application>

</manifest>